<!--<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
		<a class="navbar-brand" href="{{ url('front_homepage')}}"> Se connecter </a>
		</div>
	</div>
</div>-->